<!-- Expense Part -->
<div class="mt-4">
    <button type="button" class="btn btn-danger" routerLink="/add-expense-group">
        Gider Grubu Ekle
    </button>
    <button type="button" class="btn btn-danger ms-3" routerLink="/list-expense-groups">
        Gider Gruplarını Listele
    </button>
</div>
<div class="mt-3">
    <button type="button" class="btn btn-danger" routerLink="/add-expense">
        Gider Ekle
    </button>
    <button type="button" class="btn btn-danger ms-3">
        Giderleri Listele
    </button>
</div>

<!-- Income Part -->
<div class="mt-5">
    <button type="button" class="btn btn-success">Gelir Grubu Ekle</button>
    <button type="button" class="btn btn-success ms-3">Gelir Gruplarını Listele</button>
</div>
<div class="mt-3">
    <button type="button" class="btn btn-success">Gelir Ekle</button>
    <button type="button" class="btn btn-success ms-3">Gelirleri Listele</button>
</div>