<div class="container mt-4">
    <h3 class="text-danger text-center">Gider Grubu Detayı</h3>
    <div class="form-floating mt-4">
        <input type="text" class="form-control" id="inputExpenseGroupName" 
            [(ngModel)]="expenseGroupGetAllColumnResponse.expenseGroupName" placeholder="Gider Grubu Adı">
        <label for="inputExpenseGroupName">Gider Grubu Adı</label>
        <small *ngIf="expenseGroupGetAllColumnResponse.expenseGroupName.length < 2" class="text-danger">
            Grup ismi en az 2 karakter barındırmalı!
        </small>
    </div>
    <div class="form-floating mt-3">
        <input type="text" class="form-control" id="inputExpenseGroupDescription" 
            [(ngModel)]="expenseGroupGetAllColumnResponse.description" placeholder="Gider Grubu Açıklaması">
        <label for="inputExpenseGroupDescription">Gider Grubu Açıklaması</label>
    </div>
    <button type="buttonUpdate" [class]="buttonUpdateClass()" (click)="put()">Güncelle</button>
    <button type="buttonDelete" [class]="buttonDeleteClass()" (click)="areYouSure()">
        Bu gider grubunu Sil
    </button>
    <div class="container mt-3" *ngIf="clickedDeleteButton">
        <strong class="text-danger">Bu gider grubunu silmek istediğinize emin misiniz?</strong>
        <br>
        <button type="buttonDelete" class="btn btn-danger mt-1" (click)="delete()">Evet, Eminim</button>
    </div>
</div>